<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      fieldset{
        display:inline-block;
      }
    </style>
    <meta charset="utf-8">
    <title>Heeey Frieeend</title>
  </head>
  <body>
    <h3>Welcome {{unique.name}}</h3>
    <h3><a href="/logout">Logout</a></h3>
    <fieldset>
      <legend>Friends</legend>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>email</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {%for a in friendship%}
          <tr>
            <td>{{a.creator.name}}</td>
            <td>{{a.creator.email}}</td>
            <td><a href="/delete/{{a.id}}">Remove as friend</a>
              <a href="/show/{{a.creator.id}}">Show Friendo</a></td>
          </tr>
          {%empty%}
          <h2>No friendos be here!</h2>
          {%endfor%}
        </tbody>
      </table>
    </fieldset>

  <fieldset>
    <legend>People who have Not been friended</legend>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>email</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          {%for char in person%}
          <td><a href="/show/{{char.id}}">{{char.name}}</a></td>
          <td>{{char.email}}</td>
          <td><a href="/add/{{char.id}}">add</a></td>
        </tr>
          {%endfor%}
      </tbody>

    </table>

  </fieldset>

  </body>
</html>
